/** {*/
/*    outline: 1px solid red;*/
/*}*/



.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
}

h1 {
    text-align: center;
}

.project {
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: flex-start; /* Align items horizontally */
    margin-bottom: 40px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #F2EFE9; /* Warm and natural color tone */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Shadow */
}



/*.project-image {*/
/*    max-width: 300px;*/
/*    max-height: 400px;*/
/*    margin-right: 20px;*/
/*    border-radius: 8px;*/
/*    display: block;*/
/*    object-fit: contain;*/
/*}*/

.project-image-container {
    width: 300px; /* Set a fixed width for the image container */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    overflow: hidden;
}

.project-image {
    max-width: 300px;
    max-height: 300px;
    border-radius: 8px;
    object-fit: contain;
}

.project-content {
    flex: 1;
}

.project-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: bolder;
}

.project-details {
    padding-left: 20px;
}

.project-details ul {
    list-style: disc;
    padding-left: 20px;
}

@media (max-width: 768px) {
    .project {
        flex-direction: column;
        align-items: center;
    }

    .project-image {
        margin-bottom: 20px;
    }

    .project-content {
        text-align: center;
    }

    .project-details {
        padding-left: 0;
    }
}