/** {*/
/*    outline: 1px solid red;*/
/*}*/

.container {
    margin-top: 20px;
}

.project {
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: flex-start;
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 8px;
    background: #F2EFE9;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.project-content {
    flex: 1;
    margin-left: 20px; /* Space between image and text */
}

.project-skills {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.skill {
    background-color: #9BB6AB;
    color: #fff;
    padding: 6px 12px;
    margin-right: 8px;
    margin-bottom: 8px;
    border-radius: 16px;
    font-size: 14px;
}

.project-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.project-details {
    margin-top: 10px;
}

.project-details span {
    font-weight: bold;
    margin-right: 4px;
}

.project-details ul {
    margin-bottom: 10px;
    list-style-type: disc;
    margin-left: 20px;
}

.project-image-container {
    flex: 1; /* Adjust to allow the container to grow with the carousel */
    margin-right: 20px; /* Space between image and text */
    display: flex;
    justify-content: center; /* Center image horizontally */
    align-items: center; /* Center image vertically */
}

.project-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.carousel .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.carousel .slide img {
    max-height: 400px; /* Adjust based on your needs */
    object-fit: contain;
}

.carousel .carousel-slider {
    max-width: 500px; /* Adjust the width as needed */
    margin: 0 auto;
}
